/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px); /* Blur the background */
}

.modal-overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px); /* Blur the background */
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
}

/* Modal Content */
.modal-content2 {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  max-width: 100%;
  margin-right: 20px;
  box-sizing: border-box;
}
/* Modal Header (Title and Close Button) */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.modal-title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.modal-close {
  cursor: pointer;
  font-size: 24px;
}

/* Modal Body */
.modal-body {
  max-height: 80vh;
  overflow-y: auto;
}

.modal-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.modal-children {
  margin-top: 20px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    padding: 15px;
    border-radius: 0;
    height: 70vh;
    overflow-y: auto;
  }

  .modal-title {
    font-size: 20px;
  }
  /* Modal Content */
  .modal-content2 {
    margin-right: 0px;
    height: auto;
  }
}

.button {
  width: 100%;
}

/* For large screens (768px and above) */
@media (min-width: 768px) {
  .modal-content {
    height: auto;
  }
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 4px; /* Width of the vertical scrollbar */
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0d6efd; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle when hovered */
}

/* Optional custom styling */
body {
  font-family: Arial, sans-serif;
}

.bg-primary {
  background-color: #246bfd !important;
}

img {
  border-radius: 8px;
}

button {
  background-color: #007bff;
  border: none;
}

button:hover {
  background-color: #0056b3;
}

textarea:focus,
input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.request {
  font-size: 50px;
  text-align: left;
}

.contact {
  font-size: 60px;
}
@media screen and (max-width: 768px) {
  .contact {
    font-size: 40px;
  }
  .request {
    font-size: 40px;
    text-align: left;
  }
}

.description {
  line-height: 1.2;
  font-weight: 500;
}

.contact-img-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
/* Initial swipe-up animation */
.app-container {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1.2s cubic-bezier(0.25, 0.1, 0.25, 1),
    transform 1.2s cubic-bezier(0.25, 0.1, 0.25, 1);

  animation-duration: 2s;
  animation-name: bouncing;
  animation-iteration-count: infinite;
}

@keyframes bouncing {
  0% {
    top: 0px;
  }
  100% {
    top: 50px;
  }
}

.app-container.animate-swipe-up {
  opacity: 1;
  transform: translateY(0);
}

/* Up and down smooth animation */
@keyframes smoothUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.image-container,
.form-container {
  animation: smoothUpDown 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.animate {
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}
.icons {
  color: white;
  padding: 10px;
  border-radius: 50%;
}
.chat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  position: fixed; /* Use fixed to stick it to the screen's bottom-right corner */
  bottom: 50px; /* Distance from the bottom edge of the screen */
  right: 100px; /* Distance from the right edge of the screen */
  background: #ffffff; /* Background color for better visibility */
  border-radius: 50%; /* Circular shape */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  cursor: pointer; /* Indicate clickability */
  z-index: 1000; /* Ensure it's above other elements */
  transition: transform 0.2s ease-in-out; /* Smooth scaling on hover */
}

.chat-icon:hover {
  transform: scale(1.1); /* Slight enlargement on hover */
}

@media (max-width: 768px) {
  .chat-icon {
    bottom: 40px; /* Adjust position for smaller screens */
    right: 20px;
    height: 50px; /* Slightly smaller icon */
    width: 50px;
    font-size: 20px;
  }
}
